html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
                Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
                Apple Chancery;
}

.first {
    margin: auto;
    background-color: rgb(102, 103, 171);
    width: 1200px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid black;
}

.header {
    background-color: white;
    width: 1200px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
    /* box-sizing: border-box;  */
  }

/* Remove margins and padding from the list */
ul {
    margin: auto;
    height: 200px;
    width: 900px;
    padding: 10px;
    margin-top: 100px;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 8px 8px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 15px;
    /* transition: 0.2s; */
    /* make the list items unselectable */
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: rgb(193, 194, 232);
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: rgb(92, 90, 97);
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
        content: "";
        /* position: absolute; */
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }

    /* 클로즈 버튼 */
    .close {
        position: absolute;
        right: 0px;
        top: 0;
        padding: 10px 35px 10px 35px;
    }
    .close:hover {
        background-color: #56467b;
        color: white;
    }

/* 헤더 스타일 */
.header {
  background-color: white;
  color: black;
  text-align: center;
  margin: auto;
}
.add {
  margin-top: 30px;
  margin-left: 150px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#myInput {
  border-color: 0.5px rgb(102, 103, 171);
  border-radius: 0; 
  width: 800px;
  padding: 8px;
  float: left;
  font-size: 15px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 60px;
  background: black;
  color: white;
  float: left;
  /* text-align: center; */
  font-size: 15px;
  cursor: pointer;
  /* transition: 0.3s; */
  border-radius: 0;
}

.addBtn:hover {
  background-color: rgb(102, 103, 171);
}

/* 메뉴 햄버거 아이콘 */
img.list {
    width: 50px;
    height: 50px;
    padding: 25px;
  }
  
  .arrow {
    width: 1200px;
    margin: auto;
  }
  
  /* 오른쪽 화살표 */
  img.arrow {
    position: relative;
    width: 50px;
    padding: 25px;
    left: 1100px;
    top: -350px;
  }
  
  img.leftarrow {
    /* 좌우반전 */
    transform:rotate(90deg); 
            -moz-transform: scaleX(-1); 
            -o-transform: scaleX(-1); 
            -webkit-transform: scaleX(-1); 
            transform: scaleX(-1);   
            filter: FlipH;
            -ms-filter: "FlipH";
    position: relative;
    width: 50px;
    padding: 25px;
    left: -100px;
    top: -350px;
  }
  
  /* 하단바 */
  .menubar {
    margin: auto;
    margin-top: -70px;
    width: 1200px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-color: rgb(84, 43, 70);
    border-radius: 10px;    
  }
  
  /* 하단바 원 */
  .circle {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -23px;
    left: 855px;
  }
  
  .menulist {
    text-align: center;
    margin: auto;
    margin-top: 4px;
    width: 1200px;
  }
  
  .menu {
    text-decoration-line: none;
    color: rgb(31, 17, 42);
    letter-spacing :1px; /* 자간 조절 */
    margin: 60px;
    font-size: 15px;
  }
  
  
